*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--primary);

}

h1 {
    font-family:Arial;
    font-size: 1.75rem;
    color:red;
}
h2  {
    font-family:Arial;
    font-size: 1.40rem;
    color:green;
}   

.container-{
    text-align: center;
    width: 100%;
    height: 100%;

}

.conteudo{
    margin-top: 5%;
}


.borda{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: grey;
    border-bottom: 2px solid black;
}

.fotogabriel{
    max-width: 25%;
    min-height: 20%;
    margin-bottom: 20px;
    border-radius: 2.70rem;
}

p{
    padding: 5px;
    color: white;
    font-size: 2.20rem;
}